<p>Hello <b><%= @current_patient.username%></b>!</p>

<% if @errors %>
  <p style="color: red;"><%= @errors %></p>
<% end %>

<h1>My Strains</h1>

<br>
<ul>
  <% if @strains.size > 0 %>
    <% @strains.each do |strain| %>
      <% if strain.patient == @current_patient.id %>
        <li><a href="/strains/<%= strain.id %>"><b><%= strain.name %></b></a> from <%= strain.form %> for $<%= "%.2f" % strain.review %></li>
        <br></br>
      <% end %>
    <% end %>
    <a href="/strains/new">Log new strain</a>
  <% else %>
    <p>You don't have any logged strains yet! <a href="/strains/new">Log a new one here!</a>.</p>
  <% end %>
</ul>

