<h1>Strain Index Page</h1>

<div>
    <% @strains.each do |strain| %>
        <h4><%= strain.name%></h4>
        <p>ish: <%= strain.ish%></p>
        <p>form: <%= strain.form%></p>
        <p>thc: <%= strain.thc%></p>
        <p>cbd: <%= strain.cbd%></p>
        <p>review: <%= strain.review%></p>
</div>
