<h1>Show Strain Page</h1>

<div>
  <h2><%= @strain.name %></h2>
 
  <div>
    Form: <%= @strain.form %>
  </div>
  <div>
    THC: <%= @strain.thc %>
  </div>
  <div>
    CBD: <%= @strain.cbd %>
  </div>
  <div>
    Review: <%= @strain.review %>
  </div>

</div>

<br/>
    <form method="POST" action="/strains/<%= @strain.id %>/delete">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete this strain!">
    </form>
